auto-save-list/
elpa/
meghanada/
url/
eshell/
var/
straight/
transient/
eln-cache/
librime/
tree-sitter/

projects
history
recentf
package-quickstart.el
custom.el

projectile-bookmarks.eld
projectile.cache
